.thumbnail {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.video-time {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-weight: 500;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border-radius: 3px;
}
.video-title {
  cursor: pointer;
  color: rgb(235, 229, 229);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  line-height: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 50%;
  padding-left: 2px;
}

.video-author {
  display: block;
  color: rgb(96, 96, 96);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3px;
  padding-left: 10px;
}
.video-stats {
  display: block;
  color: rgb(96, 96, 96);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 10px;
}

.thumnail-row {
  margin-bottom: 10px;
  position: relative;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 37px;
}
